cluster_name = "example"

google_project_id = "example-0"

image_type = "cos"

initial_node_count = 2

kubernetes_version = "latest"

machine_type = "n1-standard-1"

max_node_count = 20

preemptible = false

zones = ["us-central1-a", "us-central1-b"]
